<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="phpunitbootstrap.php">
  <testsuites>
    <testsuite name="PHPSchemaManagerSuite">
      <file>tests/Objects/ColumnTest.php</file>
      <file>tests/Objects/ColumnMysqlTest.php</file>
      <file>tests/Objects/TableTest.php</file>
      <file>tests/Objects/SchemaTest.php</file>
      <file>tests/Objects/ManagerTest.php</file>
      <file>tests/Objects/IndexTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>
